@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

* {
    font-family: 'Hubballi', sans-serif;
}

p {
    font-size: 36px;
}

/* for all searchfields */

.searchfield_container {

    #searchfield {
        color: white;
        text-align: center;
        font-size: 24px;
        border: 1px solid white;
        border-radius: 16px;
        background: none;
        padding: 10px;
        width: 390px;
    }
}

/* for WineRatings.jsx & Events.jsx */
.data_output_container {
    .data_output_container_flex {
        display: flex;
        justify-content: space-evenly;

        p {
            font-size: 24px;
            color: white;
        }
    }

}