body {
    background: rgb(29, 25, 49);
}

.grape_icon_welcome {
    display: flex;
    align-items: center;
    justify-content: center;
}

.grape_icon_welcome img {
    display: block;
    text-align: center;
    margin-top: 40vh;
}