a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}

.addButton {
    background: #B9B5DB;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 430px;
    height: 140px;
    border-radius: 16px 16px 0 0;
}